main{
    width: 100%;
    margin-bottom: 3rem;
    
    .carregando{
      	display: flex;
      	flex-direction: column;
      	justify-content: center;
      	align-items: center;
      	margin-top: 6rem;
    }
    
    section{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        width: 23.3rem;
        margin-top: 6rem;
        gap: 1rem;
      
        .iframe{
          border: none;
          margin-bottom: 0.3rem;
          width: 23rem;
          height: 14rem;
        }
        h2{
          color: #EEF;
        }
        p{ 
          color: #DDD;
          text-align: justify;
          padding: 0 0.2rem;
        }
        button {
            color: white;
            border-radius: 5px;
            border: none;
            padding: 0.3rem;
            width: 100%;
            transition: 1s all;
            cursor: pointer;
            font-weight: 500;
            background-color: #718fa5ee;
            font-size: 1rem;
            padding: 0.5rem;
            
            &:hover{
                background-color: #718fa5ff;
                transform: scale(1.25);
            }
        }
    }
}
