main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
    gap: 1rem;
    
    .iframe{
      border: none;
      margin-bottom: 0.3rem;
      margin: 0 auto;
    }
    h2{
      color: #DDD;
    }
    p{
      max-width: 30.5rem;
      text-align: center;
      color: #DDD;
    }
    button {
        color: white;
        border-radius: 5px;
        border: none;
        padding: 0.3rem;
        width: 22rem;
        transition: 1s all;
        cursor: pointer;
        font-weight: 500;
        background-color: #718fa5ee;
        font-size: 1rem;
        padding: 0.5rem;
        
    &:hover{
        background-color: #718fa5ff;
        transform: scale(1.3);
    }
    }
}
