header{
    background-color: #111;
    width: 100%;
    height: 3rem;
    box-shadow: 2px 4px 7px rgba(0,0,0,0.25);
    
    div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 83%;
        height: 100%;
        margin: auto;
      
        nav{
          
            ul{
                display: flex;
                gap: 1rem;
                
                li{
                    list-style: none;
      
                    a{
                        text-decoration: none;
                        color: #DDD;
                    }
        
                    a:hover{
                        color: white;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 610px) {
    nav{
        position: fixed;
        top: 0;
        right: 0rem;
        z-index: 1;
        
        padding-left: 1rem;
        padding-top: 1rem;
        width: 15rem;
        height: 100vh;
        background-color: #111;
        box-shadow: -5px 0 15px rgba(0,0,0,0.25);
        
        transition: 0.5s;
        
        ul{
          display: flex;
          flex-direction: column;
          .espacar{
              margin-top: 0.5rem;
          }
          li{
              display: flex;
              align-items: center;
              gap: 0.5rem;
              padding: 0.3px;
              
              .fechar:hover{
                  color: #111;
                  background-color: white;
                  border-radius: 50px;
              }
              p{
                 color: #DDD;
              }
              a{
                  display: flex;
                  align-items: center;
                  gap: 0.5rem;
                  .icon{
                      border-radius: 50px;
                      border: solid 1.6px #DDD;
                  }
              }
            }
        }
    }
}

@media screen and (min-width: 611px) {
  .disapear{
      display: none;
  }
}
