.navbar{
    background-color: #111;
    width: 100%;
    padding: 0.5em;
    height: 2.5rem;
    box-shadow: 2px 4px 7px rgba(0,0,0,0.25);
    
    .logoUl {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 85%;
      height: 100%;
      margin: auto;
    
        ul{
            display: flex;
            gap: 1rem;
    
            li{
                list-style: none;
    
                a{
                    text-decoration: none;
                    color: white;
                }
    
                a:hover{
                    list-style: none;
                    color:blue;
                }
            }
        }
    }
}